/ALexOperations$ECaracterInesperado.class
/ALexOperations.class
/AnalizadorLexicoTiny.class
/ClaseLexica.class
/Main.class
/UnidadLexica.class
/UnidadLexicaMultivaluada.class
/UnidadLexicaUnivaluada.class
